<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serve the Russ</title>
</head>
<body>
{{> header}}

    <h1>Russ built this itty bitty fairly useless app.</h1>
<h1>Wonder why? Click <a href="/about">HERE</a></h1>


{{> footer}}
</body>
</html>